<div class="cup">
    <div class="container">
        <div class="cup__inner">
            <h2>Электронная кружка для пожертвований</h2>
            <div class="cup__about">
                <div class="cup__about-item item-1">
                    <div class="cup__about-item_list">
                        <h3>Возможности кружки</h3>
                        <ul >
                            <li>Сумма пожертвования на выбор</li>
                            <li>Оплата картой или мобильным устройством</li>
                            <li>Доступ ко всей статистике в личном
                                кабинете
                            </li>
                        </ul>
                    </div>
                        <img src="../static/seopage/images/image1.png" alt="">
                </div>
                <div class="cup__about-item item-2">
                        <img src="../static/seopage/images/image2.png" alt="">
                    <div class="cup__about-item_list">
                        <h3>Варианты установки</h3>
                        <ul>
                            <li>Устанавливается в церковной лавке</li>
                            <li>Размещается на отдельной стойке в любом месте храма</li>
                            <li>Крепится к стене</li>
                        </ul>
                    </div>
                </div>
                <div class="cup__about-item item-3">
                    <div class="cup__about-item_list">
                        <h3>Преимущества</h3>
                        <ul>
                            <li>Не требует администратора для управления и контроля</li>
                            <li>Разработана специально для нужд храма без лишних кнопок и элементов</li>
                            <li>Не требует открытия нового расчетного счета в банке</li>
                        </ul>
                    </div>
<!--                    <div class="img_container">-->
                        <img id="img_rotate" src="../static/seopage/images/image3.png" alt="">
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>