<footer class="footer">
    <div class="container footer__container">
        <div class="footer__inner">
            <img src="../static/seopage/images/logo.svg" class="logo" alt="">
            <div class="footer__about">
                <h2>Присоединяйтесь к проекту Благое Дело</h2>
                <h3>И начните получать безналичные пожертвования от прихожан</h3>
                <a href="mailto:info@blagoedelo.org">
                <button>Связаться с нами</button>
                </a>
            </div>
            <img class="church" src="../static/seopage/images/church.png" alt="">

            <!--            <img class="church" src="../static/seopage/images/church.png" alt="">-->
        </div>
    </div>
</footer>