<div class="goal">
    <div class="container">
        <div class="goal__inner">
            <div>
                <h2>Цель проекта</h2>
                <div class="goal__about">
                    <p class="goal__about-1">
                        В современном мире все используют <b>безналичные методы оплаты</b>. Это означает проблемы для православных организаций, которые зависят от
                        помощи жертвователей.
                    </p>
                    <p class="goal__about-2">
                        <b>БЛАГОЕ ДЕЛО</b> создает комплексную инфраструктуру решений для того, чтобы поддержать православные приходы по всей России.
                    </p>
                    <p class="goal__about-3">
                        Используя свою технологическую экспертизу, мы создали инструменты, которые <b>помогут Церкви сохранить и приумножить необходимый ей поток
                        пожертвований</b>,
                        а прихожанам чувствовать себя комфортнее и не задумываться о необходимости приносить с собой наличные деньги в храм.
                    </p>
                </div>
            </div>
            <img src="../static/seopage/images/goal.png" class="goal__img" alt="">
        </div>
    </div>
</div>